@model WebShopApplication.Models.CustomerOrderVM
@{
    ViewData["Title"] = "Order Finalization";
}

<h1>Finalization</h1>



<form asp-controller="ShoppingCart" asp-action="NewOrderFinalization" asp-route-returnUrl="@ViewBag.ReturnUrl" method="post">
    <table>
        <tr>
            <td colspan="3">
                <div class="failureNotification">@Html.ValidationSummary(true, "A rendelés sikertelen!")</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="contentHead">
                    Adatok megadása:
                </div>
            </td>
        </tr>
        <tr>
            <td width="120">
                Név:
            </td>
            <td class="failureNotification" colspan="2">
                <input asp-for="CustomerName" size="40" />
                <span asp-validation-for="CustomerName"></span>
            </td>

        </tr>
        <tr>
            <td width="120">
                Számlázási cím:
            </td>
            <td class="failureNotification" colspan="2">
                <input asp-for="CustomerAddress" size="40" />
                <span asp-validation-for="CustomerAddress"></span>
            </td>
        </tr>
        <tr>
            <td width="120">
                E-mail cím:
            </td>
            <td class="failureNotification" colspan="2">
                <input asp-for="CustomerEmail" size="40" />
                <span asp-validation-for="CustomerEmail"></span>
            </td>
        </tr>
        <tr>
            <td width="120">
                Telefonszám:
            </td>
            <td class="failureNotification" colspan="2">
                <input asp-for="CustomerPhoneNumber" size="40" />
                <span asp-validation-for="CustomerPhoneNumber"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Rendelés megerősítése" class="button" />
            </td>

        </tr>
    </table>
</form>

@section Scripts
    {
    @* jQuery Validation használata a kliens oldali validációra *@
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}
